@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@200;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: beige;
  background-color: black;
  /* cursor: none; */
  font-family: 'Montserrat', sans-serif;
}

a{
  /* pointer-events: none; */
}
