@tailwind base;
@tailwind components;
@tailwind utilities;

/* 351A7A */
/* 602A2e */
@font-face {
  font-family: Roobert;
  src: url('./fonts/Roobert-Regular.otf');
}
@font-face {
  font-family: Roobert;
  src: url('./fonts/Roobert-Bold.otf');
  font-weight: bold;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}
html{
  height: 100%;
  width: 100%;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  scroll-behavior: smooth;
  color: #ECECEC;
  background-color: black;
  /* cursor: none; */
  font-family: 'Roobert', sans-serif;
  /* background: url('./mesh-353.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

a{
  /* pointer-events: none; */
}
/* 
.test{
  height: -webkit-fill-available;
  padding: 5px;
} */

.title{
  block-size: auto;
}

@media only screen and (min-width: 1024px) {
  .title{
    block-size: 14rem;
  }
}  